# planning document for developer
devnotes.txt

# python environment
myenv/

# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
.env
*.env
myenv/
venv/

# IDE settings
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
